@model IEnumerable<Information>
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="about-us" style="margin-top:150px">
    @foreach (var item in Model)
    {
        <div class="container">
            <div class="row align-items-center my-5">

                <div class="col-md-5">
                    <img src="~/images/@item.ImagePath" alt="" style="height:500px; width:100%; border-radius:50px">
                </div>
                <!-- /.col-lg-8 -->

                <div class="col-md-7">
                    <h6 class="font-weight-light" style="color: wheat">@item.Title</h6>
                    <h3 style="color: wheat">@item.Name</h3>
                    <hr color="wheat" />
                    <p style="color: wheat">
                        @item.Description1
                    </p>
                    <p style="color: wheat">
                        @item.Description2
                    </p>
                    <p style="color: wheat">
                        @item.Description3
                    </p>
                    @*<a class="btn btn-primary" href="">İletişime Geçin!</a>*@
                </div>


            </div>



        </div>}
</div>
@section scripts{

    <script>
        $(function () {
            $.scrollIt();
        });
    </script>
}