@model HomePageVM

@{

    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<link href="~/css/Card.css" rel="stylesheet" />
<div class="index_header">

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="height:800px">
        <div class="nav-wrapper" style="height:600px ">

            <ol class="carousel-indicators">

                @{int j = 0;}
                @foreach (var n in Model.NavbarItems)
                {
                    j++;
                    var active = j == 1 ? "active" : "";
                    <li data-target="#carouselExampleIndicators" data-slide-to="j" class="@active"></li>

                }


                @*<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>*@

            </ol>
            <div class="carousel-inner" role="listbox">


                @{ int i = 0;}
                @foreach (var item in Model.NavbarItems)
                {
                    i++;
                    var active = i == 1 ? "active" : "";

                    <div class="carousel-item @active" style="        background-image: url('../../images/@item.ImagePath'); height:800px">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>@item.Title</h3>
                            <p>@item.Description</p>
                        </div>
                    </div>

                }





                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>


            </div>

        </div>

    </div>


</div>

<!-- Page Content -->
<!-- Marketing Icons Section -->
<div class="mix_mastering">

    <div class="row" style="color:lightblue; margin-top:50px" id="card">

        @foreach (var item in Model.Layouts)
        {
            <div class="col-lg-4" style="height:550px; width:450px; float:none; margin-top:100px">

                <div class="card h-100" style="background-image: url('../../images/@item.ImagePath'); background-size: cover; width: 450px; height: 800px">
                    <h4 class="card-header" style=" background-color: rgba(0,0,0,0.5); border-color: transparent">@item.Title</h4>
                    <div class="card-body">
                        <p class="card-text">@item.Description</p>
                    </div>
                    <div class="card-footer" style=" background-color: rgba(0,0,0,0.5); border-color: transparent">
                        <a asp-controller="Home" asp-action="FullLayout" asp-route-id="@item.ID" class="btn btn-primary">Daha fazla bilgi için tıklayınız</a>
                    </div>
                </div>

            </div>
        }
    </div>





</div>






<!-- /.row -->
<!-- Portfolio Section -->
<!-- /.row -->
<!-- Features Section -->
@foreach (var item in Model.Identities)
{
   
        <div class="container" style="color:wheat; margin-top:150px; background-color:#171515">
            <div class="row" style="background-color: rgba(0,0,0,0.3); border-color: transparent">
                <div class="col-lg-4" style="color:wheat">
                    <h2>@item.Name</h2>
                    <p>ElBerk Müzik Stüdyoları:</p>
                    <div class="identitysec">
                        <ul style=" list-style-type: none">
                            <li>
                                <strong>@item.Specifications1</strong>
                            </li>
                            <li>@item.Specifications2</li>
                            <li>@item.Specifications3</li>
                            <li>@item.Specifications4</li>
                        </ul>

                    </div>

                    <p>@item.Objective</p>
                </div>
                    <div class="col-lg-8" style="float:left; margin-top:10px">
                        <img style=" width:200px;height:200px; margin-left:50px" src="~/images/@item.ImagePath" />
                    </div>


        </div>
    </div>
}

