@model HomePageVM

@{

    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<link href="~/css/Card.css" rel="stylesheet" />
<header>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="height:800px">
        <div class="nav-wrapper" style="height:600px ">
            
                <ol class="carousel-indicators">

                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>

                </ol>
                <div class="carousel-inner" role="listbox">
                    @{ int i = 0;}
                    @foreach (var item in Model.NavbarItems)
                    {
                        i++;
                        var active = i == 1 ? "active" : "";


                        <div class="carousel-item @active" style="        background-image: url('../../images/@item.ImagePath'); height:800px">
                            <div class="carousel-caption d-none d-md-block">
                                <h3>@item.Title</h3>
                                <p>@item.Description</p>
                            </div>
                        </div>






                    }
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>


                </div>
            </div>
    </div>


</header>

<!-- Page Content -->
<!-- Marketing Icons Section -->
<div class="mix_mastering">

    <div class="row" style="color:lightblue; margin-top:50px" id="card">


        <div class="col-lg-4" style="height:550px; width:450px; float:none; margin-top:100px">

            <div class="card h-100" style="background-image: url('../../images/whatsapp image 2020-06-28 at 13.18.17.jpeg'); background-size: cover; width: 450px; height: 800px">
                <h4 class="card-header" style=" background-color: rgba(0,0,0,0.5); border-color: transparent">Ses Kayıt Stüdyosu</h4>
                <div class="card-body">
                    <p class="card-text">Ses kayıt stüdyomuz müzikle uğraşanlar için rahat ve konforlu ortamda butik stüdyo içinde hem amatör hem profesyonel, full akustik yalıtımlı ya da doğal reverb olan ortamda kayıt imkanı sağlamaktadır.</p>
                    <p>Stüdyomuzda Eylül ayında görüşmek üzere.</p>
                </div>
                <div class="card-footer" style=" background-color: rgba(0,0,0,0.5); border-color: transparent">
                    <a asp-controller="Layout" asp-action="Record" class="btn btn-primary">Daha fazla bilgi için tıklayınız</a>
                </div>
            </div>


        </div>


        <div class="col-lg-4 " style="height:550px; width:450px; float:none; margin-top:100px  ">

            <div class="card h-100" style="background-image: url('../../images/whatsapp image 2020-06-28 at 13.18.18 (2) - kopya.jpeg');
        background-size: cover;
        width: 450px;
        height: 800px">
                <h4 class="card-header" style=" background-color: rgba(0,0,0,0.5); border-color: transparent">Aranjörlük</h4>
                <div class="card-body">
                    <p class="card-text">Her tarzda ses kayıtlarını, demo kayıtlarını profesyonel olarak düzenlenmek isteyenler için online hizmet veya stüdyomuzda  mix ve mastering hizmeti vermekteyiz. </p>
                </div>
                <div class="card-footer" style=" background-color: rgba(0,0,0,0.5); border-color: transparent">
                    <a asp-controller="Layout" asp-action="Arrangement"  class="btn btn-primary" id="card">Daha fazla bilgi için tıklayınız</a>
                </div>
            </div>
        </div>


        <div class="col-lg-4" style="height:550px; width:450px; float:none; margin-top:100px  ">

            <div class="card h-100" style="background-image: url('../../images/whatsapp image 2020-06-28 at 13.18.10.jpeg'); background-size: cover; width: 450px; height: 800px ">
                <h4 class="card-header" style=" background-color: rgba(0,0,0,0.5); border-color: transparent">Bateri Kursu</h4>
                <div class="card-body">
                    <p class="card-text">15 yıllık bateri tecrübesi ve 3 senelik özel bateri eğitmenliğiyle amatör başlanyanlara veya "Ben zaten çalıyorum çok iyiyim." diyenlere ileri seviye bateri derslerimiz mevcuttur. </p>
                </div>
                <div class="card-footer" style=" background-color: rgba(0,0,0,0.5); border-color: transparent">
                    <a asp-controller="Layout" asp-action="DrumLesson" class="btn btn-primary" id="card">Daha fazla bilgi için tıklayınız</a>
                </div>
            </div>
        </div>


    </div>
</div>






<!-- /.row -->
<!-- Portfolio Section -->
<!-- /.row -->
<!-- Features Section -->
@foreach (var item in Model.Identities)
{

    <div class="container" style="color:wheat; margin-top:150px; background-color:#171515">
        <div class="row" style="background-color: rgba(0,0,0,0.3); border-color: transparent">
            <div class="col-lg-4" style="color:wheat">
                <h2>@item.Name</h2>
                <p>ElBerk Müzik Stüdyoları:</p>
                <ul>
                    <li>
                        <strong>@item.Specifications4</strong>
                    </li>
                    <li>@item.Specifications1</li>
                    <li>@item.Specifications2</li>
                    <li>@item.Specifications3</li>
                </ul>
                <p>@item.Objective</p>
            </div>
            <div class="col-lg-8" style="float:left; margin-top:10px">
                <img style=" width:200px;height:200px; margin-left:50px" src="~/images/@item.ImagePath" />
            </div>

            @*<div class="col-lg-6">
                    <img class="img-fluid rounded" src="" alt="" style="width:350px;height:250px; margin-top:35px;margin-left:100px">
                </div>*@

        </div>
        <!-- /.row -->
        <!-- Call to Action Section -->




    </div>

}


<br />
<br />
<br />