@model IEnumerable<Identity>
@{
    ViewData["Title"] = "Kimlik Bilgisi Düzenlemeleri";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="card">
    <div class="card-header">
        <a asp-action="Create" asp-controller="Identity" class="btn btn-success float-right">Kimlik Bilgisi Ekle</a>
    </div>
    <div class="card-body">
        <table id="identitytable" class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Ad Soyad</th>
                    <th>Özellik</th>
                    <th>Özellik</th>
                    <th>Özellik</th>
                    <th>Amaçlar</th>

                    <th></th>

                </tr>
            </thead>
           
            <tbody>
                @foreach (var p in Model)
                {

                    <tr>
                        <td><img src="~/images/@p.ImagePath" style="width:50px; height:50px" /></td>
                        <td>@p.Name</td>

                        <td>@p.Specifications1</td>
                        <td>@p.Specifications2</td>
                        <td>@p.Specifications3</td>
                        <td>@p.Objective</td>

                        <td>
                            <a asp-action="Edit" asp-controller="Identity" asp-route-id="@p.ID" class="btn btn-sm btn-warning">Düzenle</a>

                            <a asp-action="Delete" asp-controller="Identity" asp-route-id="@p.ID" class=" btn btn-sm btn-danger">Sil</a>
                        </td>

                    </tr>
                }
                </tbody>

           

        </table>
    </div>
</div>


@section scripts{
    <script>
        $(document).ready(function () {
            $('#identitytable').DataTable();
        });
    </script>


}
